.card {
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .16);
    color: #212121;
    text-decoration: none;
    width: 480px;
    margin: auto auto;
    margin-top: 10%;
}

.card__header {
    display: flex;
    flex-wrap: wrap;
}

.card__title {
    padding: 1rem 1rem 0;
    font-size: 1.5rem;
    order: 1;
    margin: auto auto;
}

.card__body {
    padding: 1rem;  
}

.card__text {
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
}

.card__text + .card__text {
    margin-top: .5rem;
}

.card__footer {
    padding: 1rem;
}

.btn-square-so-pop {
    position: relative;
    display: block;
    margin: 16px auto;
    width: 120px;
    padding: 0.25em 0.5em;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    background: #fd9535;
    border-radius: 16px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #d27d00;/*線色*/
  }
  
  .btn-square-so-pop:active {
    /*押したとき*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }